<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Dharmendra ahirwar - Code Sample</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	
	<link rel="stylesheet" type="text/css" media="screen" href="stylesheets/da-cs-stylesheet.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="javascripts/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.min.js"></script>
	<script src="javascripts/da-cs-main.js"></script>
	
  </head>

  <body ng-app="daCSApp">

    <!-- HEADER -->
    <div id="header_wrap" class="outer" >
        <header class="inner">
			<div ng-controller="daHeadingControl">
				<h1 id="project_title"><a href="#/home">{{headingTitle}}</a></h1>
				<h2 id="project_tagline">{{headingSubTitle}}</h2>
			</div>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
		<!--section ng-controller="daNavControl" class="inner navSection">
			<a ng-repeat="nav in navData" ng-href="{{nav.navLink}}">{{nav.navText}}</a>
		</section-->
			
      <section id="main_content" class="inner main_content">
		<aside class="section-block section-block-left">
			<h6>Topics</h6>
			
			<h2>AngularJS</h2>
			<ul ng-controller="daNavControl">
				<li ng-repeat="ngnav in ngnavData"><a ng-href="{{ngnav.navLink}}">{{ngnav.navText}}</a></li>
			</ul>
			
			<h2>jQuery</h2>
			<ul ng-controller="daNavControl">
				<li ng-repeat="jqnav in jqnavData"><a ng-href="{{jqnav.navLink}}">{{jqnav.navText}}</a></li>
			</ul>
		</aside>
		
		<div class="section-block section-block-right">
			<div ng-view></div>	
		</div>
      </section>
	  
	  <div class="clear">&nbsp;</div>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer" ng-controller="daFooter">
      <footer class="inner">
        <p class="copyright">{{copyrightText}} <a href="{{copyrightLink}}">{{copyrightLinkText}}</a></p>
        <!--p>{{PublishedText}} <a href="PublishedLink">{{PublishedLinkText}}</a></p-->
      </footer>
    </div>

  </body>
</html>
